{% extends "layout/basic.html" %}
{% load static %}
{% load bootstrap5 %}

{% block title %}Finden Unternehmen in {{ city }}{% endblock %}
{% block h1 %}<h1>Finden Unternehmen in {{ city }}</h1>{% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ city }} in {{ region }}</li>
        </ol>
    </nav>
{% endblock %}

{% block content %}


        <div class="row">

            <div class="col-md-3 col-sm-12 border">

                <form name="cityForm" id="cityForm" class="form" method="get" action="">
                <h2>Categories in the city</h2>
                {% for i in categories|slice:":30" %}
                    <input type="radio" class="btn-check check-cat" name="category"
                           id="outlined_{{ forloop.counter }}" autocomplete="off" value="{{ i.category }}">
                    <label class="btn btn-sm btn-outline-info"
                           for="outlined_{{ forloop.counter }}">{{ i.category }}</label>
                {% endfor %}
                <button class="btn btn-sm btn-secondary mt-3 mb-2" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse" aria-expanded="false" aria-controls="collapse">
                    Show more categories
                </button>
                <div class="collapse" id="collapse">
                    {% for i in categories|slice:"31:" %}
                        <input type="radio" class="btn-check check-cat" name="category"
                               id="radio_outlined_{{ forloop.counter|add:"10" }}" autocomplete="off"
                               value="{{ i.category }}">
                        <label class="btn btn-sm btn-outline-info"
                               for="radio_outlined_{{ forloop.counter|add:"10" }}">{{ i.category }}</label>
                    {% endfor %}
                </div>
                <div class="form-check mt-2">
                    <input name="open_now[]" class="form-check-input" type="checkbox" value="1" id="open_now">
                    <label class="form-check-label" for="open_now[]">
                        show only open now business
                    </label>
                </div>
                <input type="submit" class="btn btn-primary mt-3" value="Apply">
                </form>
            </div> <!-- col left -->
            <div class="col-md-9 col-sm-12">
                <div>
                {% include "place/include/boxes.html" with boxes=page.object_list %}
                </div>
                <div class="mt-5">
                    {% bootstrap_pagination page %}
                </div>
            </div>
        </div>







{% endblock %}

{% block script %}
    <script type="text/javascript">
        // Edit action to go to the category page with a filter
        let elements = document.getElementsByClassName('check-cat');

        for (let i = 0; i < elements.length; i++) {
            elements[i].onclick = function (e) {
                let cat = e.target.value;
                let city = "{{ city }}"
                document.getElementById("cityForm").setAttribute('action', city + '/' + cat);
            }
        }

        // Checking that the category is selected
        document.querySelector("#cityForm").addEventListener("submit", function (e) {
            let elements = document.getElementsByClassName('check-cat');
            let isCheckCat = false;
            for (let i = 0; i < elements.length; i++) {
                if (elements[i].checked) {
                    isCheckCat = true;
                    // I remove the marked that would not appear in the tail of the url
                    elements[i].checked = false
                }
            }

            if (!isCheckCat) {
                alert('Please select a category');
                e.preventDefault();    //stop form from submitting
            }
        });


    </script>
{% endblock %}